
.mmGrid{
    position: relative !important;
    overflow: hidden !important;
    background: #fff !important;
    border: 1px solid #ccc !important;
    text-align: left !important;
}

.mmGrid table{
    border-collapse: separate !important;
    border-spacing: 0 !important;
    text-align: left !important;

}

.mmGrid input[type="radio"],
.mmGrid input[type="checkbox"]{
    margin: 0 !important;
}

/* 遮罩 */
.mmGrid .mmg-mask{
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    display: none !important;
    width: 100% !important;
    height: 100% !important;
    background: #ddd !important;


}

/* 半透明 */
.mmGrid .mmg-transparent{
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)" !important;
    /* IE 5-7 */
    filter: alpha(opacity=50) !important;
    /* Netscape */
    -moz-opacity: 0.5 !important;
    /* Safari 1.x */
    -khtml-opacity: 0.5 !important;
    /* Good browsers */
    opacity: 0.5 !important;
}

/* loading */
.mmGrid .mmg-loading{
    position: absolute !important;
    display: none !important;
    text-align: center !important;

}

.mmGrid .mmg-loading .mmg-loadingImg{
    margin: 5px auto !important;
    width: 32px !important;
    height: 32px !important;
    background: url(img/loading.gif) no-repeat center center !important;
}

.mmGrid .mmg-loading .mmg-loadingText{

}

/* 标题包装 */
.mmGrid .mmg-headWrapper{
    position: relative !important;
    overflow: hidden !important;
    width: auto !important;

    background: #eee !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9f9f9 0%, #eaeaea 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#eaeaea)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9f9f9 0%,#eaeaea 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9f9f9 0%,#eaeaea 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9f9f9 0%,#eaeaea 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  #f9f9f9 0%,#eaeaea 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eaeaea',GradientType=0 ) !important; /* IE6-8 */

    -moz-box-shadow: 0 0px 2px #bbb !important;
    -webkit-box-shadow: 0 0px 2px #bbb !important;
    box-shadow: 0 0px 2px #bbb !important;
    z-index: 1 !important;

}

/* 标题 */
.mmGrid .mmg-headWrapper .mmg-head{
    position: relative !important;
}

.mmGrid .mmg-headWrapper .mmg-head th{
    position: relative !important;
    padding: 0 5px !important;
    border-right: 1px solid #ddd !important;
    border-bottom: 1px solid #d2d2d2 !important;
    overflow: hidden !important;
}

.mmGrid .mmg-headWrapper .mmg-head th.mmg-groupCol{
    /* 分组列 */
}

.mmGrid .mmg-headWrapper .mmg-head th input{
    height: 2em !important;
}

.mmGrid .mmg-headWrapper .mmg-head th .mmg-titleWrapper{
    position: relative !important;
    height: 2em !important;
}

.mmGrid .mmg-headWrapper .mmg-head th .mmg-titleWrapper .mmg-colResize{
    position: absolute !important;
    top: 0 !important;
    right: -6px !important;
    _right: -4px !important;
    width: 4px !important;
    height: 100% !important;
    cursor: col-resize !important;
}

.mmGrid .mmg-headWrapper .mmg-head th .mmg-titleWrapper .mmg-title{
    display: inline-block !important;
    *display: inline !important;
    *zoom: 1 !important;
    height: 2em !important;
    font-weight: bold !important;
    line-height: 2 !important;
    vertical-align: top !important;
}

.mmGrid .mmg-headWrapper .mmg-head th .mmg-titleWrapper .mmg-canSort{
    cursor: pointer !important;
    text-decoration: underline !important;
}

.mmGrid .mmg-headWrapper .mmg-head th .mmg-titleWrapper .mmg-sort{
    overflow: hidden !important;
    display: none !important;
    width: 7px !important;
    height: 2em !important;
    margin-left: 2px !important;
    vertical-align: top !important;
}

.mmGrid .mmg-headWrapper .mmg-head th .mmg-titleWrapper .mmg-asc{
    display: inline-block !important;
    *display: inline !important;
    *zoom: 1 !important;
    background: url(img/sort-asc.png) no-repeat center center !important;
}

.mmGrid .mmg-headWrapper .mmg-head th .mmg-titleWrapper .mmg-desc{
    display: inline-block !important;
    *display: inline !important;
    *zoom: 1 !important;
    background: url(img/sort-desc.png) no-repeat center center !important;
}

.mmGrid  .mmg-colResizePointer{
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    display: none !important;
    width: 1px !important;
    height: 100% !important;
    background: #999 !important;
    cursor: col-resize !important;
    z-index: 1 !important;
}

.mmGrid  .mmg-colResizePointer-before{
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    display: none !important;
    width: 1px !important;
    height: 100% !important;
    background: #999 !important;
    cursor: col-resize !important;
    z-index: 1 !important;
}

/* 背板 */
.mmGrid .mmg-backboard{
    position: relative !important;
    display: none !important;
    background-image: url(img/furley_bg.png) !important;
    background-image: -webkit-image-set(
        url(img/furley_bg.png) 1x,
        url(img/furley_bg_@2X.png) 2x
    ) !important;
    -webkit-box-shadow: inset 0 0 2px 1px #d9d9d9 !important;
    -moz-box-shadow: inset 0 0 2px 1px #d9d9d9 !important;
    -o-box-shadow: inset 0 0 2px 1px #d9d9d9 !important;
    -ms-box-shadow: inset 0 0 2px 1px #d9d9d9 !important;
    box-shadow: inset 0 0 2px 1px #d9d9d9 !important;
    text-align: left !important;
}
.mmGrid .mmg-backboard h1{
    margin: 0 10px 5px 10px !important;
    padding: 10px 0 5px 0 !important;
    font-size: 1em !important;
    font-weight: bold !important;
    line-height: 1.8 !important;
    border-bottom: 1px solid #ccc !important;
}

.mmGrid .mmg-backboard label{
    display: inline-block !important;
    *display: inline !important;
    *zoom: 1 !important;
    width: 95px !important;
    font-size: 1em !important;
    line-height: 2.2 !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.mmGrid .mmg-backboard label input{
    margin: 0 5px 0 10px !important;
    padding: 0px !important;
    border: 0px !important;
}

/* 内容包装器 */
.mmGrid .mmg-bodyWrapper{
    position: relative !important;
    overflow: auto !important;
    width: auto !important;
    min-height: 0% !important; /* fix IE9 hover bug see: http://jsfiddle.net/pjkix/86Lfv/ */
}

/* 内容 */
.mmGrid .mmg-bodyWrapper .mmg-body{
    table-layout: fixed !important;
}

.mmGrid .mmg-bodyWrapper .mmg-body tr{

}

.mmGrid .mmg-bodyWrapper .mmg-body tr.even{
    background: #f9f9f9 !important;
}

.mmGrid .mmg-bodyWrapper .mmg-body td{
    padding: 0 5px !important;
    border-right: 1px solid #e4e4e4 !important;
    border-bottom: 1px solid #e4e4e4 !important;
    line-height: 2 !important;
}

.mmGrid .mmg-bodyWrapper .mmg-body td.colSelected{
    background: #f7f7f7 !important;
}

.mmGrid .mmg-bodyWrapper .mmg-body td.colSelectedEven{
    background: #f5f5f5 !important;
}

.mmGrid .mmg-bodyWrapper .mmg-body tr.hover td{
    background: #e1eff8 !important;
}

.mmGrid .mmg-bodyWrapper .mmg-body tr:hover td{
    background: #e1eff8 !important;
}

.mmGrid .mmg-bodyWrapper .mmg-body tr.selected td{
    background: #fff5cc !important;
}

.mmGrid .mmg-bodyWrapper .mmg-body td .mmg-index{
    color: #555 !important;
}

.mmGrid .nowrap{
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    -o-text-overflow: ellipsis !important;
    -ms-text-overflow: ellipsis !important;
}

/* 消息 */
.mmGrid .mmg-message{
    position: absolute !important;
    display: none !important;
    text-align: center !important;
}

.mmGrid .mmg-btnBackboardDn{
    position: absolute !important;
    top: 0 !important;
    right: 20px !important;
    display: block !important;
    width: 50px !important;
    height: 20px !important;
    background: #fff url(img/arrow_down.png) no-repeat center center !important;
    border: 1px solid #ccc !important;
    border-top: 0 !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
    -webkit-box-shadow: 1px 1px 3px #ccc !important;
    -moz-box-shadow: 1px 1px 3px #ccc !important;
    -o-box-shadow: 1px 1px 3px #ccc !important;
    -ms-box-shadow: 1px 1px 3px #ccc !important;
    box-shadow:1px 1px 3px #ccc !important;
    cursor: pointer !important;
}

.mmGrid .mmg-backboard .mmg-btnBackboardUp{
    position: absolute !important;
    right: 20px !important;
    bottom: 0 !important;
    display: block !important;
    width: 50px !important;
    height: 20px !important;
    background: #fff url(img/arrow_up.png) no-repeat center center !important;
    border: 1px solid #ccc !important;
    border-bottom: 0 !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
    -webkit-box-shadow: 1px 1px 3px #ccc !important;
    -moz-box-shadow: 1px 1px 3px #ccc !important;
    -o-box-shadow: 1px 1px 3px #ccc !important;
    -ms-box-shadow: 1px 1px 3px #ccc !important;
    box-shadow:1px 1px 3px #ccc !important;
    cursor: pointer !important;
}












