<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:include="/common/common_head :: commonHeader('首页')"></head>
<body>

<!-- 顶部导航 -->
<div style="display:none" id="head-nav" class="navbar navbar-default navbar-fixed-top" th:include="/common/top_nav :: nav"></div>
<!-- 左侧菜单 -->
<div id="cl-wrapper" class="fixed-menu sb-collapsed">
	<div class="cl-sidebar" data-position="right" data-step="1" th:include="/common/left_menu :: menu('index')"></div>
	<div class="container-fluid" id="pcont">
		<div class="cl-mcont">
			<div class="stats_bar" id = "startHtml"></div>
			
			<div class="row dash-cols" style = "margin-top:5px;">
				<div class="col-sm-3 col-md-3" style = "padding-right:5px;padding-left:10px;height:160px;overflow:auto;" >
					<div class="block-flat2 pie-widget" style = "height:150px">
						<div class="header">
							<span class="pull-right">
								<div class="btn-group" role="group" >
								 <button type="button" class="btn btn-primary btn-xs" onclick = "changerzrq(1)" id = "rzgegu">个股</button>
								  <button type="button" class="btn btn-default  btn-xs" onclick = "changerzrq(0)" id = "rzdapan">大盘</button>
								</div>
							</span>
							<h4>融资融券</h4>
						</div>
						<div class="content">
							<table class="no-border">
								<thead class="no-border">
									<tr>
										<th>日期</th>
										<th>名称</th>
										<th><a href = "javascript:void(0)" data1 = "rzmre" data2 = "asc" data3= "1" onclick = "getRzRqSort(this)">买入额</a></th>
										<th><a href = "javascript:void(0)" data1 = "rzjmre" data2 = "asc" data3= "1" onclick = "getRzRqSort(this)">净买入</a></th>
										<th><a href = "javascript:void(0)" data1 = "zdf" data2 = "asc" data3= "1" onclick = "getRzRqSort(this)">涨幅</a></th>
									</tr>
								</thead>
								<tbody class="no-border-x no-border-y" id = "rzrq"></tbody>
							</table>
							
						</div>
					</div>
				</div>
				
				<div class="col-sm-3 col-md-3" style = "padding-right:5px;padding-left:5px;height:160px;overflow:auto;">
					<div class="block-flat2 pie-widget" style = "height:150px">
						<div class="header">

								<div class="btn-group" role="group" style = "padding-top:1px">
								  <button type="button" class="btn btn-primary btn-xs" onclick = "changenb(0)" id = "nhgb">逆回购</button>
								  <button type="button" class="btn btn-default btn-xs" onclick = "changenb(1)" id = "sbb">shibor</button>
								</div>

							<h4></h4>
						</div>
						<div class="content">
							<table class="no-border">
								<thead class="no-border" id = "nhgtable">
									<tr>
										<th>到期时间</th>
										<th>星期</th>
										<th>金额(亿)</th>
										<th>类型</th>
									</tr>
								</thead>
								<tbody class="no-border-x no-border-y" id = "mom"></tbody>
							</table>
							
						</div>
					</div>
				</div>
				
				
				<div class="col-sm-3 col-md-3" style = "padding-right:5px;padding-left:5px;height:160px;overflow:auto;">
					<div class="block-flat2 pie-widget" style = "height:150px">
						<div class="header">
							<h4>个股资金流向</h4>
						</div>
						<div class="content">
							<table class="no-border">
								<thead class="no-border">
									<tr><th>日期</th><th>名称</th>
									<th><a href = "javascript:void(0)" data1 = "zlNum" data2 = "asc" data3= "2" onclick = "getZjlxSort(this)">主力流入</a></th>
									<!-- //	<th><a href = "javascript:void(0)" data1 = "zsz" data2 = "asc" data3= "2" onclick = "getZjlxSort(this)">总市值</a></th> -->
									<th><a href = "javascript:void(0)" data1 = "zlRatio" data2 = "asc" data3= "2" onclick = "getZjlxSort(this)">占比</a></th>
									<th><a href = "javascript:void(0)" data1 = "rises" data2 = "asc" data3= "2" onclick = "getZjlxSort(this)">涨跌幅</a></th>
									</tr>
								</thead>
								<tbody class="no-border-x no-border-y" id = "ggzjlx"></tbody>
							</table>
							
						</div>
					</div>
				</div>
				
				<div class="col-sm-3 col-md-3" style = "padding-right:5px;padding-left:5px;height:160px;overflow:auto;">
					<div class="block-flat2 pie-widget" style = "height:150px">
						<div class="header">
							<span class="pull-right">
								<div class="btn-group" role="group" >
								<button type="button" class="btn btn-primary btn-xs" onclick = "changeZjlx(1)" id = "bankuai">板块</button>
								  <button type="button" class="btn btn-default  btn-xs" onclick = "changeZjlx(0)" id = "dapan">大盘</button>
								</div>
							</span>
							<h4>大盘资金流向</h4>
						</div>
						<div class="content">
							<table class="no-border">
								<thead class="no-border" id = "zjlrThead">
									<tr><th>日期</th><th>名称</th>
									<th><a href = "javascript:void(0)" data1 = "zlNum" data2 = "asc" data3= "1" onclick = "getZjlxSort(this)">主力流入</a></th>
									<th><a href = "javascript:void(0)" data1 = "zlRatio" data2 = "asc" data3= "1" onclick = "getZjlxSort(this)">占比</a></th>
									</tr>
								</thead>
								<tbody class="no-border-x no-border-y" id = "zjlx"></tbody>
							</table>
							
						</div>
					</div>
				</div>
				
				
			</div>
			
			<div class="row dash-cols">
				<div class="col-sm-3 col-md-3" style = "padding-right:5px;padding-left:5px;">
					<div id="main3" style="width: 220px;height:180px;"></div>
				</div>
				<div class="col-sm-3 col-md-3" style = "padding-right:5px;padding-left:5px;">
					<div id="main4" style="width: 220px;height:180px;"></div>
					 <div>大盘连续上涨天数为:<span id="upDateNumSpan"></span></div>
				</div>
				
				<div class="col-sm-5 col-md-5" style = "padding-right:5px;padding-left:5px;height:160px;overflow:auto;">
					<!-- <div id="main5" style="width: 400px;height:180px;"></div> -->
						<div class="block-flat2 pie-widget" style = "height:150px;overflow:auto;">
						<div class="header">
							<span class="pull-right">
								自动刷新:
								<div class="btn-group" role="group">
								 <button type="button" class="btn btn-primary btn-xs" onclick = "changekg(0)" id = "guan">关</button>
								  <button type="button" class="btn btn-default  btn-xs" onclick = "changekg(1)" id = "kai">开
								  <span class="badge" id ="ds"></span></button>
								</div>
							</span>
							<h4>自选股票</h4>
						</div>
						<div class="content">
							<table class="no-border">
								<thead class="no-border">
									<tr><th>代码</th><th>名称</th><th>涨幅</th><th>价格</th><th>标签</th></tr>
								</thead>
								<tbody class="no-border-x no-border-y" id = "zbgp"></tbody>
							</table>
						</div>
					</div>
					
				</div>

			</div>
			
			<div class="row dash-cols">
			
				<!-- 内容左侧 -->
				<div class="col-sm-6 col-md-6">
				
				
					
  					<div class="block-flat2 pie-widget">
						<div class="header">
							<span class="pull-right"><a href = "#" onclick = "longhuGo()">更多</a></span>
							<span class="pull-right"><span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="
								1.当日涨幅超过10% 
								2.连续两天涨幅超过3% 
								3.5天内三天涨幅>0 
								4.5天内涨超过15% 
								5.10天内涨超过15% ">
								规则</span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
							<h4>龙虎榜</h4>
						</div>
						<div class="content">
							<table class="no-border">
								<thead class="no-border">
									<tr>
										<th>日期</th>
										<th>code</th>
										<th>名称</th>
										<th><a href = "javascript:void(0)" data1 = "industry" data2 = "asc" data3= "longhu" onclick = "getLonghuSort(this)">板块</a></th>
										<th><a href = "javascript:void(0)" data1 = "sbType" data2 = "asc" data3= "longhu" onclick = "getLonghuSort(this)">类型</a></th>
										<th><a href = "javascript:void(0)" data1 = "percent" data2 = "asc" data3= "longhu" onclick = "getLonghuSort(this)">当前涨幅</a></th>
										<th><a href = "javascript:void(0)" data1 = "rises" data2 = "asc" data3= "longhu" onclick = "getLonghuSort(this)">涨幅</a></th>
										<th><a href = "javascript:void(0)" data1 = "upSumRises3" data2 = "asc" data3= "longhu" onclick = "getLonghuSort(this)">3天涨</a></th>
										<th><a href = "javascript:void(0)" data1 = "upSumRises5" data2 = "asc" data3= "longhu" onclick = "getLonghuSort(this)">5天涨</a></th>
										<th><a href = "javascript:void(0)" data1 = "upRisesDay" data2 = "asc" data3= "longhu" onclick = "getLonghuSort(this)">连涨幅</a></th>
									
									</tr>
								</thead>
								<tbody class="no-border-x no-border-y" id = "longhu"></tbody>
							</table>
							<nav aria-label="龙虎榜分页">
							  <ul class="pagination pagination-sm" id = "longhupag"></ul>
							</nav>
						</div>
					</div>
					
					<div class="block-flat2 pie-widget">
						<div class="header">
							<span class="pull-right"><a href = "#" onclick = "zhibiaoGo()">更多</a></span>
							<span class="pull-right">
								<select id = "zhibiaoSelect">
									<option value = '[{&quot;must&quot;:&quot;must&quot;,&quot;name&quot;:&quot;x&quot;,&quot;type&quot;:&quot;=&quot;,&quot;value&quot;:&quot;0&quot;},{&quot;must&quot;:&quot;must&quot;,&quot;name&quot;:&quot;j&quot;,&quot;type&quot;:&quot;<&quot;,&quot;value&quot;:&quot;25&quot;},{&quot;must&quot;:&quot;must&quot;,&quot;name&quot;:&quot;lsImp&quot;,&quot;type&quot;:&quot;=&quot;,&quot;value&quot;:&quot;0&quot;}]' selected>KDJ金叉</option>
									<option value = '[{&quot;must&quot;:&quot;must&quot;,&quot;name&quot;:&quot;macdx&quot;,&quot;type&quot;:&quot;=&quot;,&quot;value&quot;:&quot;0&quot;},{&quot;must&quot;:&quot;must&quot;,&quot;name&quot;:&quot;lsImp&quot;,&quot;type&quot;:&quot;=&quot;,&quot;value&quot;:&quot;0&quot;}]'>macd金叉</option>
									<option value = '[{&quot;must&quot;:&quot;must&quot;,&quot;name&quot;:&quot;x&quot;,&quot;type&quot;:&quot;=&quot;,&quot;value&quot;:&quot;-1&quot;},{&quot;must&quot;:&quot;must&quot;,&quot;name&quot;:&quot;lsImp&quot;,&quot;type&quot;:&quot;=&quot;,&quot;value&quot;:&quot;0&quot;}]'>KDJ死叉</option>
									<option value = '[{&quot;must&quot;:&quot;must&quot;,&quot;name&quot;:&quot;macdx&quot;,&quot;type&quot;:&quot;=&quot;,&quot;value&quot;:&quot;-1&quot;},{&quot;must&quot;:&quot;must&quot;,&quot;name&quot;:&quot;lsImp&quot;,&quot;type&quot;:&quot;=&quot;,&quot;value&quot;:&quot;0&quot;}]'>macd死叉</option>
								</select>
								&nbsp;&nbsp;&nbsp;&nbsp;</span>
							<h4>指标榜</h4>
						</div>
						<div class="content">
							<table class="no-border">
								<thead class="no-border">
									<tr>
										<th>日期</th>
										<th>code</th>
										<th>名称</th>
										<th>板块</th>
										<th>macd</th>
										<th>mdNum</th>
										<th>涨幅</th>
										<th>5天涨</th>
									</tr>
								</thead>
								<tbody class="no-border-x no-border-y" id = "zhibiao"></tbody>
							</table>
							<nav aria-label="指标数据分页">
							  <ul class="pagination pagination-sm " id = "zhibiaopag"></ul>
							</nav>
						</div>
					</div>
					
				</div><!-- 内容左侧end -->
				<!-- 内容右侧 -->
				<div class="col-sm-6 col-md-6">
					<div class="block-flat2 pie-widget"  style = "height:300px;overflow:auto">
			            <div class="content no-padding">
			            	<span class="pull-right"><a href = "http://www.100ppi.com/hot/" target="_blank">更多</a></span>
			            	<span class="pull-right" style = "margin-right:10px">
								<div class="btn-group" role="group" >
								  <button type="button" class="btn btn-primary btn-xs" onclick = "changeRd(0)" id = "dzsp">大宗商品</button>
								  <button type="button" class="btn btn-default btn-xs" onclick = "changeRd(2)" id = "gwy">国务院</button>
								</div>
							</span>
			              	<h4 class="title">热点消息</h4>
			              	<div class="list-group tickets" id = "dzsprd"></div>	            
			            </div>
			        </div>
			        <div class="block-flat">
						<div class="header">
							<span class="pull-right"><a href = "javascript:void(0)" onclick = "stapledayUpGo()">更多</a></span>
							<h4>周榜商品</h4>
						</div>
						<div class="content">
							<input type = "hidden" , value = "wtzf.asc" id = "StapledayUpText">
							<table class="no-border">
								<thead class="no-border">
									<tr>
										<th width = "40%">名称</th>
										<th width = "20%"><a href = "javascript:void(0)" data1 = "monthRise" data2 = "asc" data3= "stapledayUp" onclick = "getSortZ(this)">涨幅</a></th>
										<!-- <th width = "20%"><a href = "javascript:void(0)" data1 = "priceDw" data2 = "asc" data3= "stapledayUp" onclick = "getSortZ(this)">价格</a></th>
										 --><th width = "20%"><a href = "javascript:void(0)" data1 = "wtzf" data2 = "asc" data3= "stapledayUp" onclick = "getSortZ(this)">周涨幅</a></th>
										<th width = "20%"><a href = "javascript:void(0)" data1 = "yfzf" data2 = "asc" data3= "stapledayUp" onclick = "getSortZ(this)">月涨幅</a></th>
										<th width = "20%"><a href = "javascript:void(0)" data1 = "jdzf" data2 = "asc" data3= "stapledayUp" onclick = "getSortZ(this)">季涨幅</a></th>
									</tr>
								</thead>
								<tbody class="no-border-x no-border-y" id = "stapledayUp"></tbody>
							</table>
							<nav aria-label="周分页">
							  <ul class="pagination pagination-sm" id = "StapledayUpPag"></ul>
							</nav>
						</div>
					</div>
					<!--
					<div class="block-flat">
						<div class="header">
							<h4>我的自选</h4>
						</div>
						<div class="content">
							<table class="no-border">
								<thead class="no-border">
									<tr>
										<th width = "20%">code</th>
										<th width = "20%">名称</th>
										<th width = "20%">涨幅</th>
										<th width = "20%">操作</th>
									</tr>
								</thead>
								<tbody class="no-border-x no-border-y" id = "myStock"></tbody>
							</table>
						</div>
					</div> -->
				</div>  <!-- 内容右侧end -->
			</div>
		</div>
	</div> 	
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">折线图</h4>
      </div>
      <div class="modal-body">
        <div id="main2" style="width: 600px;height:400px;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="startModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">大盘日k图</h4>
      </div>
      <div class="modal-body">
        <img src = "" style="width:100%;" id ="imgStart"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
			<div class="modal fade" id="fModal" tabindex="-1" role="dialog" aria-labelledby="分时图">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="fModalLabel">分时图</h4>
			      </div>
			      <div class="modal-body">
			      	<input type="hidden" id = "code"/>
			      	<button class="btn btn-default" onclick = "huan('min')">分时</button>
			      	<button class="btn btn-default" onclick = "huan('daily')">周</button>
			      	<button class="btn btn-default" onclick = "huan('weekly')">月</button>
			        <img src = "" id = "imgFen">
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">关</button>
			      </div>
			    </div>
			  </div>
			</div>


  <div th:include="/common/onload_js :: onloadJs"></div>
  <script type="text/javascript">
  	//var longhuDatas = '[{"must":"must","name":"rises","type":">=","value":"10"},{"must":"must","name":"upRisesDayNum5","type":">=","value":"3"},{"must":"must","name":"upRises","type":">=","value":"3"},{"must":"must","name":"upSumRises5","type":">=","value":"15"}]';
    var longhuDatas = '[{"must":"must_not","name":"type","type":"=","value":"null"}]';
    $(document).ready(function(){
       App.init({
        nanoScroller: false
      });
        
      App.dashBoard();   
      
      getAllList();
      kdj('0000001');
      stockData('0000001');
	  //kdj('601668');
      //getReal();
      getHotHtml();
      getStapledayUp(1,1,'wtzf' , 'asc' , 'stapledayUp');
      getLongHuTable(1,1,'rises','asc');
      getZhiBiaoTable(1,1,'');
      getMyStock();
      getMom();
      getRzrq("",1);
      getZjlx('',1);
      getZjlx('',2);
      
      $("#zhibiaoSelect").change(function(){
      	var val = $(this).children('option:selected').val();
      	getZhiBiaoTable(1,1,val);
		}); 
		
		var timer2=window.setInterval(function(){
      		getZjlx('',2);
      	},600000);	  
    });
    
    function openDiv(code){
            	$('#code').val('min');
            	$('#imgFen').attr('src' ,getPath(code));
            	$('#fModal').modal('show');
            }
            
     function huan(type){
            	var old = $('#code').val();
            	var imgPath = $('#imgFen').attr('src');
            	imgPath = imgPath.replace(old , type);
            	$('#code').val(type);
            	$('#imgFen').attr('src' ,imgPath);
            }
    
    function getReal(){
    	
    	$.ajax({  
      	type : "GET",  //提交方式  
		url : "http://www.estock.com:8080/stock/real/getRealByCode",//路径  
        data : {code:$('#code').val()},//数据，这里使用的是Json格式进行传输  
        success : function(result) {//返回数据根据结果进行相应的处理  
        	if(result != ''){
        		$('#imgFen').attr('src' ,getPath($('#code').val()));
        		$('#price').html(result['price']);
        		$('#realName').html(result['name']);
        		$('#realOpen').html(result['open']);
        		$('#realUp').html(getNumUp(result['updown']));
        		$('#realHigh').html(result['high']);
        		$('#realLow').html(result['low']);
        		var percent = parseFloat(result['percent']) * 100;
        		percent = percent.toFixed(2);
        		if(percent > 0){
        			percent = "+" + percent + "%";
        			$('#realPrice').attr("class","stat-red");
        		}else{
        			percent = percent + "%";
        			$('#realPrice').attr("class","stat-green");
        		}
        		$('#percent').html(percent);
        	}else{
        		alert('查不到数据');
        	}
      	}  
      });   
    }
    
    function getNumUp(num){
    	if(num >= 0){
    		return "+" + num;
    	}
    	return num;
    }
    
    function getPath(code){
            	var timestamp = Date.parse(new Date());
            	var path = 'http://image.sinajs.cn/newchart/min/n/';
            	if(code.toString().substring(0,1) == 6 || code == '000001'){
            		path = path +  'sh'+code+'.gif';
            	}else{
            		path = path +  'sz'+code+'.gif';
            	}
            	path = path + '?'+timestamp;
            	return path;
            }
            
    function changeRd(type){
    	if(type == 0){
    		$('#dzsp').attr("class","btn btn-primary btn-xs");
      		$('#gwy').attr("class","btn btn-default btn-xs");
    		getHotHtml();
    	}
    	
    	if(type == 2){
    		$('#gwy').attr("class","btn btn-primary btn-xs");
      		$('#dzsp').attr("class","btn btn-default btn-xs");
    		getGwyHtml();
    	}
    }
            
     function getHotHtml(){
    	$.ajax({  
      	type : "GET",  //提交方式  
		url : "http://www.estock.com:8080/stock/stapleday/getHotspotHtml",//路径  
        data : {},//数据，这里使用的是Json格式进行传输  
        success : function(result) {//返回数据根据结果进行相应的处理  
        	if(result != ''){
        		$('#dzsprd').html(result);
        	}else{
        		alert('查不到数据');
        	}
      	}  
      });
    }
    
    function getGwyHtml(){
    	$.ajax({  
      	type : "GET",  //提交方式  
		url : "http://www.estock.com:8080/stock/stapleday/getGwyValue",//路径  
        data : {},//数据，这里使用的是Json格式进行传输  
        success : function(result) {//返回数据根据结果进行相应的处理  
        	if(result != ''){
        		$('#dzsprd').html(result);
        	}else{
        		alert('查不到数据');
        	}
      	}  
      });
    }
    
    function getSortZ(data){
    	var da1 = $(data).attr("data1");
    	var da2 = $(data).attr("data2");
    	var da3 = $(data).attr("data3");
    	if(da2 == 'desc'){
    		da2 = "asc";
    		$(data).attr("data2" , da2);
    	}else if(da2 == 'asc'){
    		da2 = "desc";
    		$(data).attr("data2" , da2);
    	}
    	getStapledayUp(1,1,da1 , da2 , da3)
    }
    
    function getLonghuSort(data){
    	var da1 = $(data).attr("data1");
    	var da2 = $(data).attr("data2");
    	var da3 = $(data).attr("data3");
    	if(da2 == 'desc'){
    		da2 = "asc";
    		$(data).attr("data2" , da2);
    	}else if(da2 == 'asc'){
    		da2 = "desc";
    		$(data).attr("data2" , da2);
    	}
    	getLongHuTable(1,1,da1 , da2 )
    }
    
    function getStapledayUp(page , num,da1 , da2 , da3){
    	$.ajax({  
      	type : "GET",  //提交方式  
		url : "http://www.estock.com:8080/stock/stapleday/getList",//路径  
        data : {
        	datas:'',
        	sort:'rq.asc,'+da1+'.'+da2,
        	page:page,
        	limit:5
        },//数据，这里使用的是Json格式进行传输  
        success : function(result) {//返回数据根据结果进行相应的处理  
        	var item = result['items'];
        	var html = "";
        	for(var i=0;i<item.length;i++){
        		html = html + "<tr><td><a href='javascript:void(0)' onclick = 'tu("+item[i]['code']+")'>"+item[i]['productName']+"</a></td>";
        	/* 	html = html + "<td>"+item[i]['priceDw']+"</td>"; */
        		html = html + "<td>"+fixed2percentage(item[i]['monthRise'])+"</td>";
        		html = html + "<td>"+fixed2percentage(item[i]['wtzf'])+"</td>";
        		html = html + "<td>"+fixed2percentage(item[i]['yfzf'])+"</td>";
        		html = html + "<td>"+fixed2percentage(item[i]['jdzf'])+"</td></tr>";
        	}
        	$('#'+da3).html(html);
        	if(num == 1){
        		getStapledayUpPage(da1 , da2 , da3);
        	}
      	}  
      });  
      }
      
      function getStapledayUpPage(da1 , da2 , da3){
      	$('#StapledayUpPag').bootstrapPaginator({
                bootstrapMajorVersion: 3,//bootstrap版本
                currentPage: 1,//当前页码
                totalPages: 100,//总页数（后台传过来的数据）
                numberOfPages: 5,//一页显示几个按钮
                itemTexts: function (type, page, current) {
                    switch (type) {
                        case "first": return "首页";
                        case "prev": return "上一页";
                        case "next": return "下一页";
                        case "last": return "末页";
                        case "page": return page;
                    }
                },//改写分页按钮字样
                onPageClicked: function (event, originalEvent, type, page) {
                	getStapledayUp(page , 2,da1 , da2 , da3);
                }
            });
      }
      
      function stapledayUpGo(){
      	var sorts = $('#StapledayUpText').val();
      	window.location.href='/stock/datas/dzsj?sort=rq.asc,'+sorts;
      }
      
      
      function getLongHuTable(page , num,da1,da2){
    	$.ajax({  
      	type : "GET",  //提交方式  
		url : "http://www.estock.com:8080/stock/getListLonghu",//路径  
        data : {
        	datas:longhuDatas,
        	sort:da1+'.'+da2,
        	page:page,
        	limit:5
        },//数据，这里使用的是Json格式进行传输  
        success : function(result) {//返回数据根据结果进行相应的处理  
        	var item = result['items'];
        	var html = "";
        	for(var i=0;i<item.length;i++){
        		html = html + "<tr><td>"+dsj(item[i]['date'])+"</td>";
        		html = html + "<td>"+item[i]['stockCode']+"</td>";
        		html = html + "<td><a href = 'javascript:void(0)' onclick = openDiv('"+item[i]['stockCode']+"')>"+item[i]['stockName']+"</a></td>"; 
        		html = html + "<td>"+item[i]['industry']+"</td>";
        		html = html + "<td>"+item[i]['sbType']+"</td>";
        		html = html + "<td>"+fixed2percentage(item[i]['percent'])+"</td>";
        		html = html + "<td>"+fixed2percentage(item[i]['rises'])+"</td>";
        		html = html + "<td>"+fixed2percentage(item[i]['upSumRises3'])+"</td>";
        		html = html + "<td>"+fixed2percentage(item[i]['upSumRises5'])+"</td>";
        		html = html + "<td>"+fixed2percentage(item[i]['upRisesDay'])+"</td></tr>";
        	}
        	$('#longhu').html(html);
        	if(num == 1){
        		longhupag(da1,da2);
        	}
      	}  
      });  
      }
      
      function longhupag(da1,da2){
      	$('#longhupag').bootstrapPaginator({
                bootstrapMajorVersion: 3,//bootstrap版本
                currentPage: 1,//当前页码
                totalPages: 100,//总页数（后台传过来的数据）
                numberOfPages: 5,//一页显示几个按钮
                itemTexts: function (type, page, current) {
                    switch (type) {
                        case "first": return "首页";
                        case "prev": return "上一页";
                        case "next": return "下一页";
                        case "last": return "末页";
                        case "page": return page;
                    }
                },//改写分页按钮字样
                onPageClicked: function (event, originalEvent, type, page) {
                    getLongHuTable(page , 2,da1,da2);
                }
            });
      }
      
      function longhuGo(){
      	window.location.href='/stock/datas/stockinfo?sort=date.asc&datas='+longhuDatas;
      }
      
      function getZhiBiaoTable(page , num , val){
      	if(val == '' || val == null){
      		var val = $('#zhibiaoSelect').val();
      	}
    	$.ajax({  
      	type : "GET",  //提交方式  
		url : "http://www.estock.com:8080/stock/getList",//路径  
        data : {
        	datas:val,
        	sort:'date.asc',
        	page:page,
        	limit:5
        },//数据，这里使用的是Json格式进行传输  
        success : function(result) {//返回数据根据结果进行相应的处理  
        	var item = result['items'];
        	var html = "";
        	for(var i=0;i<item.length;i++){
        			html = html + "<tr><td>"+dsj(item[i]['date'])+"</td>";
        		html = html + "<td>"+item[i]['stockCode']+"</td>";
        	//	html = html + "<td>"+item[i]['stockName']+"</td>";
        		html = html + "<td><a href = 'javascript:void(0)' onclick = openDiv('"+item[i]['stockCode']+"')>"+item[i]['stockName']+"</a></td>"; 
        		html = html + "<td>"+item[i]['industry']+"</td>";
        		html = html + "<td>"+fixed2(item[i]['macd'])+"</td>";
        		html = html + "<td>"+item[i]['macdNum']+"</td>";
        		html = html + "<td>"+fixed2percentage(item[i]['rises'])+"</td>";
        		html = html + "<td>"+fixed2percentage(item[i]['upSumRises5'])+"</td></tr>";
        	}
        	$('#zhibiao').html(html);
        	if(num == 1){
        		zhibiaopag();
        	}
      	}  
      });  
      }
      
      function zhibiaopag(){
      	$('#zhibiaopag').bootstrapPaginator({
                bootstrapMajorVersion: 3,//bootstrap版本
                currentPage: 1,//当前页码
                totalPages: 100,//总页数（后台传过来的数据）
                numberOfPages: 5,//一页显示几个按钮
                itemTexts: function (type, page, current) {
                    switch (type) {
                        case "first": return "首页";
                        case "prev": return "上一页";
                        case "next": return "下一页";
                        case "last": return "末页";
                        case "page": return page;
                    }
                },//改写分页按钮字样
                onPageClicked: function (event, originalEvent, type, page) {
                    getZhiBiaoTable(page , 2 , '');
                }
            });
      }
      
      
      function zhibiaoGo(){
      	var val = $('#zhibiaoSelect').val();
      	window.location.href='/stock/datas/stockinfo?sort=date.asc&datas='+val;
      }
      
      
      function getMyStock(){
    	$.ajax({  
      	type : "GET",  //提交方式  
		url : "http://www.estock.com:8080/stock/optional/getList",//路径  
        data : {
			sort:'percent.asc'
        },//数据，这里使用的是Json格式进行传输  
        success : function(result) {//返回数据根据结果进行相应的处理  
        	var item = result['items'];
        	var html = "";
        	for(var i=0;i<item.length;i++){
        		html = html + "<tr><td>"+item[i]['stockCode']+"</td>";
        		html = html + "<td>"+item[i]['stockName']+"</td>";
        		html = html + "<td>"+fixed2percentage(item[i]['percent'])+"</td>";
        		html = html + "<td>"+item[i]['price']+"</td>";
        		var biaoq = item[i]['text'];
        		if(item[i]['jrzblt'] == 1){
        			biaoq = biaoq + ' 十字星';
        		}
        		html = html + "<td>"+biaoq+"</td></tr>";
        		//html = html + '<td><button type="button" class="btn btn-default" onclick = "delMyStock('+item[i]["stockCode"]+')">删除</button></td></tr>';
        	}
        	$('#zbgp').html(html);
      	}  
      });  
      }
      
      function delMyStock(id){
    	$.ajax({  
      	type : "GET",  //提交方式  
		url : "http://www.estock.com:8080/stock/optional/delete",//路径  
        data : {
			stockCode:id
        },//数据，这里使用的是Json格式进行传输  
        success : function(result) {//返回数据根据结果进行相应的处理  
        	getMyStock();
      	}  
      });  
      }
      
      function stockData(code){
        	$.ajax({  
        	type : "GET",  //提交方式  
  		url : "http://www.estock.com:8080/stock/getList",//路径  
          data : {
  			datas:'[{"must":"must","name":"stockCode","type":"=","value":"0000001"}]',
  			sort:'date.asc',
  			page:1,
  			limit:50

          },//数据，这里使用的是Json格式进行传输  
          success : function(result) {
        	  var item = result['items'];
        	 // alert(item[0]['upDateNum']);
        	  $("#upDateNumSpan").text(item[0]['upDateNum']);
        	  
         	 }
          })}
      
      function tu(code){
      	$.ajax({  
      	type : "GET",  //提交方式  
		url : "http://www.estock.com:8080/stock/stapleday/getListByName",//路径  
        data : {
			datas:'[{"must":"must","name":"code","type":"=","value":"'+code+'"}]',
			sort:'rq.asc'
        },//数据，这里使用的是Json格式进行传输  
        success : function(result) {//返回数据根据结果进行相应的处理  
        	 var myChart = echarts.init(document.getElementById('main2'));
        	 var data =result;
        	 var dateList = data.map(function (item) {
				    return item[0];
				});
				var valueList = data.map(function (item) {
				    return item[1];
				});
				
				option = {
				    xAxis: {
				        type: 'category',
				        data: dateList
				    },
				    yAxis: {
				        type: 'value'
				    },
				    series: [{
				        data: valueList,
				        type: 'line',
				        smooth: true,
				        label: {
			                normal: {
			                    show: true,
			                    position: 'top'
			                }
			            }
				    }]
				};
        	  myChart.setOption(option);
        	  
        	  $('#myModal').modal('show');
      	}  
      }); 
      }
      
      function splitData(rawData) {
		    var categoryData = [];
		    var values = []
		    for (var i = 0; i < rawData.length; i++) {
		        categoryData.push(rawData[i].splice(0, 1)[0]);
		        values.push(rawData[i])
		    }
		    return {
		        categoryData: categoryData,
		        values: values
		    };
		}

		function calculateMA(dayCount , data0) {
		    var result = [];
		    for (var i = 0, len = data0.values.length; i < len; i++) {
		        if (i < dayCount) {
		            result.push('-');
		            continue;
		        }
		        var sum = 0;
		        for (var j = 0; j < dayCount; j++) {
		            sum += data0.values[i - j][1];
		        }
		        result.push(sum / dayCount);
		    }
		    return result;
		}
      
      function kdj(code){
      	$.ajax({  
      	type : "GET",  //提交方式  
		url : "http://www.estock.com:8080/stock/getKDJ",//路径  
        data : {
			datas:'[{"must":"must","name":"stockCode","type":"=","value":"'+code+'"}]',
			sort:'date.asc',
			page:1,
			limit:50
        },//数据，这里使用的是Json格式进行传输  
        success : function(result) {//返回数据根据结果进行相应的处理  
        	 var myChart = echarts.init(document.getElementById('main3'));
        	 var data =result;
				
				option = {
			    title: {
			        //text: '指标图化',
			        subtext: 'KDJ'
			    },
			    tooltip: {
			        trigger: 'axis'
			    },
			    legend: {
			        data:['K','D','J']
			    },
			    xAxis:  {
			        type: 'category',
			        boundaryGap: false,
			        data: data["date"]
			    },
			    yAxis: {
			        type: 'value'
			    },
			    series: [
			        {
			            name:'K',
			            type:'line',
			            data:data["K"]
			        },
			        {
			            name:'D',
			            type:'line',
			            data:data["D"]
			        },
			        {
			            name:'J',
			            type:'line',
			            data:data["J"]
			        }
			    ]
			};
        	  myChart.setOption(option);
        	  
        	  
        	  var myChart2 = echarts.init(document.getElementById('main4'));
        	  var upColor = '#00da3c';
        	  var downColor = '#ec0000';
				
				option2 = {
			    title: {
			      //  text: '指标图化',
			        subtext: '			       MACD'
			    },
			    tooltip: {
			        trigger: 'axis'
			    },
			    legend: {
			        data:['diff','dae']
			    },
			   
			    xAxis:  {
			        type: 'category',
			        boundaryGap: false,
			        data: data["date"]
			    },
			    yAxis: {
			        type: 'value'
			    },
			    series: [
			        {
			            name:'DIFF',
			            type:'line',
			            data:data["DIFF"],
			            itemStyle: {
		                    normal: {
		                        color: '#EE0000'
		                    /*     color0: downColor,
		                        borderColor: null,
		                        borderColor0: null */
		                    }
		                }
			        },
			        {
			            name:'DAE',
			            type:'line',
			            data:data["DAE"],
			            itemStyle: {
		                    normal: {
		                        color: '#0b0'
		                    /*     color0: downColor,
		                        borderColor: null,
		                        borderColor0: null */
		                    }
		                }
			        }
			    ]
			};
        	  myChart2.setOption(option2);
        	  
        	  
        	   var myChart3 = echarts.init(document.getElementById('main5'));

				var upColor = '#ec0000';
		var upBorderColor = '#8A0000';
		var downColor = '#00da3c';
		var downBorderColor = '#008F28';
		
		
		// 数据意义：开盘(open)，收盘(close)，最低(lowest)，最高(highest)
		var obj = data["obj"];
		var data0 = splitData(obj);
		option3 = {
		    
		    tooltip: {
		        trigger: 'axis',
		        axisPointer: {
		            type: 'cross'
		        }
		    },
		    legend: {
		        data: ['日K', 'MA5', 'MA10', 'MA20', 'MA30']
		    },
		    grid: {
		        left: '10%',
		        right: '10%',
		        bottom: '15%'
		    },
		    xAxis: {
		        type: 'category',
		        data: data0.categoryData,
		        scale: true,
		        boundaryGap : false,
		        axisLine: {onZero: false},
		        splitLine: {show: false},
		        splitNumber: 20,
		        min: 'dataMin',
		        max: 'dataMax'
		    },
		    yAxis: {
		        scale: true,
		        splitArea: {
		            show: true
		        }
		    },
		    dataZoom: [
		        {
		            type: 'inside',
		            start: 50,
		            end: 100
		        },
		        {
		            show: true,
		            type: 'slider',
		            y: '90%',
		            start: 50,
		            end: 100
		        }
		    ],
		    series: [
		        {
		            name: '日K',
		            type: 'candlestick',
		            data: data0.values,
		            itemStyle: {
		                normal: {
		                    color: upColor,
		                    color0: downColor,
		                    borderColor: upBorderColor,
		                    borderColor0: downBorderColor
		                }
		            },
		            markPoint: {
		                label: {
		                    normal: {
		                        formatter: function (param) {
		                            return param != null ? Math.round(param.value) : '';
		                        }
		                    }
		                },
		                data: [
		                    {
		                        name: 'XX标点',
		                        coord: ['2013/5/31', 2300],
		                        value: 2300,
		                        itemStyle: {
		                            normal: {color: 'rgb(41,60,85)'}
		                        }
		                    },
		                    {
		                        name: 'highest value',
		                        type: 'max',
		                        valueDim: 'highest'
		                    },
		                    {
		                        name: 'lowest value',
		                        type: 'min',
		                        valueDim: 'lowest'
		                    },
		                    {
		                        name: 'average value on close',
		                        type: 'average',
		                        valueDim: 'close'
		                    }
		                ],
		                tooltip: {
		                    formatter: function (param) {
		                        return param.name + '<br>' + (param.data.coord || '');
		                    }
		                }
		            },
		            markLine: {
		                symbol: ['none', 'none'],
		                data: [
		                    [
		                        {
		                            name: 'from lowest to highest',
		                            type: 'min',
		                            valueDim: 'lowest',
		                            symbol: 'circle',
		                            symbolSize: 10,
		                            label: {
		                                normal: {show: false},
		                                emphasis: {show: false}
		                            }
		                        },
		                        {
		                            type: 'max',
		                            valueDim: 'highest',
		                            symbol: 'circle',
		                            symbolSize: 10,
		                            label: {
		                                normal: {show: false},
		                                emphasis: {show: false}
		                            }
		                        }
		                    ],
		                    {
		                        name: 'min line on close',
		                        type: 'min',
		                        valueDim: 'close'
		                    },
		                    {
		                        name: 'max line on close',
		                        type: 'max',
		                        valueDim: 'close'
		                    }
		                ]
		            }
		        },
		        {
		            name: 'MA5',
		            type: 'line',
		            data: calculateMA(5,data0),
		            smooth: true,
		            lineStyle: {
		                normal: {opacity: 0.5}
		            }
		        },
		        {
		            name: 'MA10',
		            type: 'line',
		            data: calculateMA(10,data0),
		            smooth: true,
		            lineStyle: {
		                normal: {opacity: 0.5}
		            }
		        },
		        {
		            name: 'MA20',
		            type: 'line',
		            data: calculateMA(20,data0),
		            smooth: true,
		            lineStyle: {
		                normal: {opacity: 0.5}
		            }
		        },
		        {
		            name: 'MA30',
		            type: 'line',
		            data: calculateMA(30,data0),
		            smooth: true,
		            lineStyle: {
		                normal: {opacity: 0.5}
		            }
		        },
		
		    ]
		};
				
        	  myChart3.setOption(option3);
      	}  
      }); 
      }
      
      function changeImg(text){
      	var imgPath = "";
      	if(text == '上证指数'){
      		imgPath = "http://image.sinajs.cn/newchart/min/n/sh000001.gif";
      	}
      	if(text == '深证成指'){
      		imgPath = "http://image.sinajs.cn/newchart/bd/small/nsz399001.gif";
      	}
      	if(text == 103){
      		imgPath = "http://image.sinajs.cn/newchart/bd/small/nsh000300.gif";
      	}
      	if(text == '创业板指'){
      		imgPath = "http://image.sinajs.cn/newchart/bd/small/nsz399006.gif";
      	}
      	if(text == '恒生指数'){
      		imgPath = "http://image.sinajs.cn/newchart/hk_stock/min_hollow_290/HSI.gif";
      	}
      	if(text == 202){
      		imgPath = "http://image.sinajs.cn/newchart/futures/forex/min5_m_hollow/NIXI.gif";
      	}
      	if(text == 301){
      		imgPath = "http://image.sinajs.cn/newchart/futures/forex/min30_hollow/EURUSD.gif";
      	}
      	if(text == 302){
      		imgPath = "http://image.sinajs.cn/newchart/futures/forex/min5_m_hollow/FT100.gif";
      	}
      	if(text == 303){
      		imgPath = "http://image.sinajs.cn/newchart/futures/forex/min5_m_hollow/DAX.gif";
      	}
      	if(text == 304){
      		imgPath = "http://image.sinajs.cn/newchart/futures/forex/min5_m_hollow/CAC.gif";
      	}
      	if(text == '道琼斯'){
      		imgPath = "http://image.sinajs.cn/newchart/usstock/min_idx_py/290/dji.gif";
      	}
      	if(text == '纳斯达克'){
      		imgPath = "http://image.sinajs.cn/newchart/usstock/min_idx_py/290/ixic.gif";
      	}
      	if(text == 403){
      		imgPath = "http://image.sinajs.cn/newchart/usstock/min_idx_py/290/inx.gif";
      	}
      	if(text == 500){
      		imgPath = "http://image.sinajs.cn/newchart/futures/global/mins_hollow/GC.gif";
      	}
      	var timestamp = Date.parse(new Date());
      	imgPath = imgPath + "?"+timestamp;
      	$('#imgStart').attr("src",imgPath);
      	$('#startModal').modal('show');
      }
      
      function getAllList(){
      	$.ajax({  
      	type : "GET",  //提交方式  
		url : "http://www.estock.com:8080/stock/stapleday/getAll",//路径  
        data : {},//数据，这里使用的是Json格式进行传输  
        success : function(result) {//返回数据根据结果进行相应的处理  
        	var html = "";
        	//html = html + '<div class="butpro butstyle"><div class="sub">';
        	//html = html + '<h2>风险指数</h2><span id="fx1">待实现</span></div>';
			//html = html + '<div class="stat"><span style = "color:#21A675" id="fx2">待实现</span></div></div>';
        	for(var i=0;i<result.length;i++){
        			html = html + '<div class="butpro butstyle" onclick = "changeImg(\''+result[i]['stockName']+'\')"><div class="sub">';
        			html = html + '<h2>'+result[i]['stockName']+'</h2><span>'+result[i]['mb']+'</span></div>';
        			if(result[i]['rises'] < 0){
        				html = html + '<div class="stat"><span style = "color:#21A675">↓ '+result[i]['rises']+'%</span></div></div>';
        			}else{
        				html = html + '<div class="stat"><span style = "color:#FF2121">↑ '+result[i]['rises']+'%</span></div></div>';
        			}
					
        	}
        	$('#startHtml').html(html);
        	//getFx();
      	}  
      }); 
      }
      
      function getFx(){
      	
      }
      
      function changenb(type){
      	if(type == 0){
      		$('#nhgb').attr("class","btn btn-primary btn-xs");
      		$('#sbb').attr("class","btn btn-default btn-xs");
      		$('#nhgtable').html("<tr><th>到期时间</th><th>星期</th><th>金额(亿)</th><th>类型</th></tr>");
      		getMom();
      	}
      	if(type == 1){
      		$('#sbb').attr("class","btn btn-primary btn-xs");
      		$('#nhgb').attr("class","btn btn-default btn-xs");
      		$('#nhgtable').html("<tr><th>期限</th><th>Shibor(%)</th><th>涨跌(BP)</th></tr>");
      		getShibor();
      	}
      }
      
      function getMom(){
      	$('#mom').html(getShuaHtml(4));
    	$.ajax({  
      	type : "GET",  //提交方式  
		url : "http://www.estock.com:8080/stock/govomo/getDateList2",//路径  
        data : {
        	sort:'date.desc'
        },//数据，这里使用的是Json格式进行传输  
        success : function(result) {//返回数据根据结果进行相应的处理  
        	var item = result['items'];
        	getMom2(item);
      	}  
      	});  
      }
      
      function getMom2(item2){
    	$.ajax({  
      	type : "GET",  //提交方式  
		url : "http://www.estock.com:8080/stock/govomo/getDateList",//路径  
        data : {
        	sort:'expDate.desc'
        },//数据，这里使用的是Json格式进行传输  
        success : function(result) {//返回数据根据结果进行相应的处理  
        	var item = result['items'];
        	var html = "";
        	for(var i=0;i<item2.length;i++){
        		html = html + "<tr><td>"+dsj(item2[i]['date'])+"</td>";
        		html = html + "<td>"+item2[i]['dateWeek']+"</td>";
        		html = html + "<td>"+item2[i]['jyl']+"</td>";
        		html = html + "<td><span style=\"color: #b00\">投放</span></td></tr>";
        	}
        	for(var i=0;i<item.length;i++){
        		html = html + "<tr><td>"+dsj(item[i]['expDate'])+"</td>";
        		html = html + "<td>"+item[i]['expWeek']+"</td>";
        		html = html + "<td>"+item[i]['jyl']+"</td>";
        		html = html + "<td><span style=\"color: #0b0\">回购</span></td></tr>";
        	}
        	$('#mom').html(html);
      	}  
      	});  
      }
      
      function getShibor(){
      	$('#mom').html(getShuaHtml(3));
    	$.ajax({  
	      	type : "GET",  //提交方式  
			url : "http://www.estock.com:8080/stock/stapleday/getShiborTable",//路径  
	        data : {
	        },//数据，这里使用的是Json格式进行传输  
	        success : function(result) {//返回数据根据结果进行相应的处理  
	        	$('#mom').html(result);
	      	}  
      	});  
      }
      
      function getZjlx(sort,type){
      	var date = new Date().Format("yyyy-MM-dd");
      	var datas = "";
      	var sorts = 'date.asc,zlNum.asc';
      	if(type == 0){
      		sorts = 'date.asc';
      		datas = '[{"must":"must","name":"type","type":"=","value":"'+type+'"},{"must":"must_not","name":"stockCode","type":"prefix","value":"3"}]';
      	}else{
      		if(sort != ''){
      			sorts = 'date.asc,'+sort;
      		}
      		datas = '[{"must":"must","name":"type","type":"=","value":"'+type+'"},{"must":"must_not","name":"stockCode","type":"prefix","value":"3"}]';
      	}
      	$('#zjlx').html(getShuaHtml(4));
    	$.ajax({  
      	type : "GET",  //提交方式  
		url : "http://www.estock.com:8080/stock/zjlx/getList",//路径  
        data : {
        	datas:datas,
			sort:sorts,
			limit:5
        },//数据，这里使用的是Json格式进行传输  
        success : function(result) {//返回数据根据结果进行相应的处理  
        	var item = result['items'];
        	var html = "";
        	for(var i=0;i<item.length;i++){
        		html = html + "<tr><td>"+dsj(item[i]['date'])+"</td>";
        		if(type == 2){
        			html = html + "<td><a href = 'javascript:void(0)' onclick = openDiv('"+item[i]['stockCode']+"')>"+item[i]['stockName']+"</a></td>";
        		}else{
        			html = html + "<td>"+item[i]['stockName']+"</td>";
        		}
        		html = html + "<td>"+moformat(item[i]['zlNum'])+"</td>";
        		//html = html + "<td>"+moformat(item[i]['zsz'])+"</td>";
        		if(type==2){
        			html = html + "<td>"+fixed2percentage(item[i]['zlRatio'])+"</td>";
        			html = html + "<td>"+fixed2percentage(item[i]['rises'])+"</td></tr>";
        		}else{
        		html = html + "<td>"+fixed2percentage(item[i]['zlRatio'])+"</td></tr>";
        		}
        	}
        	if(type == 2){
        	 
        		$('#ggzjlx').html(html);
        	}else{
        		$('#zjlx').html(html);
        	}
        	
      	}  
      	});  
      }
      
      function changeZjlx(type){
      	if(type == 0){
      		$('#dapan').attr("class","btn btn-primary btn-xs");
      		$('#gegu').attr("class","btn btn-default btn-xs");
      		$('#bankuai').attr("class","btn btn-default btn-xs");	
      	}
      	if(type == 1){
      		$('#bankuai').attr("class","btn btn-primary btn-xs");
      		$('#gegu').attr("class","btn btn-default btn-xs");
      		$('#dapan').attr("class","btn btn-default btn-xs");
      	}
      	if(type == 2){
      		$('#gegu').attr("class","btn btn-primary btn-xs");
      		$('#bankuai').attr("class","btn btn-default btn-xs");
      		$('#dapan').attr("class","btn btn-default btn-xs");
      	}
      	getZjlx('',type);
      	
      }
      
      function getRzrq(sort , type){
      	$('#rzrq').html(getShuaHtml(3));
      	var sorts = '';
      	if(sort == ''){
      		sorts = 'tdate.asc,rzmre.asc';
      	}else{
      		sorts = 'tdate.asc,' + sort;
      	}
    	$.ajax({  
      	type : "GET",  //提交方式  
		url : "http://www.estock.com:8080/stock/rzrq/getList",//路径  
        data : {
        	datas:'[{"must":"must","name":"type","type":"=","value":"'+type+'"},{"must":"must_not","name":"stockCode","type":"prefix","value":"3"}]',
			sort:sorts,
			limit:5
        },//数据，这里使用的是Json格式进行传输  
        success : function(result) {//返回数据根据结果进行相应的处理  
        	var item = result['items'];
        	var html = "";
        	for(var i=0;i<item.length;i++){
        		html = html + "<tr><td>"+dsj(item[i]['tdate'])+"</td>";
        		html = html + "<td><a href = 'javascript:void(0)' onclick = openDiv('"+item[i]['scode']+"')>"+item[i]['sname']+"</a></td>";
        		html = html + "<td>"+moformat(item[i]['rzmre'])+"</td>";
        		html = html + "<td>"+moformat(item[i]['rzjmre'])+"</td>";
        		html = html + "<td>"+fixed2percentage(item[i]['zdf'])+"</td></tr>";
        	}
        	$('#rzrq').html(html);
      	}  
      	});  
      }
      
      function changerzrq(type){
      	if(type == 0){
      		$('#rzdapan').attr("class","btn btn-primary btn-xs");
      		$('#rzgegu').attr("class","btn btn-default btn-xs");	
      	}
      	if(type == 1){
      		$('#rzgegu').attr("class","btn btn-primary btn-xs");
      		$('#rzdapan').attr("class","btn btn-default btn-xs");	
      	}
      	getRzrq('',type);
      }
      
      function getDpZjlx(){
      	$('#zjlx').html(getShuaHtml(4));
    	$.ajax({  
      	type : "GET",  //提交方式  
		url : "http://www.estock.com:8080/stock/dpzjlx/getDpList",//路径  
        data : {
        	datas:'',
			sort:'rq.asc',
			limit:5
        },//数据，这里使用的是Json格式进行传输  
        success : function(result) {//返回数据根据结果进行相应的处理  
        	var item = result['items'];
        	var html = "";
        	for(var i=0;i<item.length;i++){
        		html = html + "<tr><td>"+item[i]['rq']+"</td>";
        		html = html + "<td>"+item[i]['zljr']+"</td>";
        		html = html + "<td>"+fixed2percentage(item[i]['zlzb'])+"</td></tr>";
        	}
        	$('#zjlx').html(html);
      	}  
      	});  
      }
      
      var sj1 = 11;
      var timer1;
      function changekg(type){
      	if(type == 0){
      		$('#guan').attr("class","btn btn-primary btn-xs");
      		$('#kai').attr("class","btn btn-default btn-xs");
      		window.clearInterval(timer1);
      		sj1 = 11;
      		$('#ds').html('');	
      	}
      	if(type == 1){
      		$('#kai').attr("class","btn btn-primary btn-xs");
      		$('#guan').attr("class","btn btn-default btn-xs");
      		timer1=window.setInterval(function(){
      			//sj1 = sj1 - 1;
      			//if(sj1 == 0){
      				getMyStock();
      				//sj1 = 10;
      			//}
      			//$('#ds').html(sj1);
      		},10000);	
      	}
      }
      
      function getRzRqSort(data){
    	var da1 = $(data).attr("data1");
    	var da2 = $(data).attr("data2");
    	var da3 = $(data).attr("data3");
    	if(da2 == 'desc'){
    		da2 = "asc";
    		$(data).attr("data2" , da2);
    	}else if(da2 == 'asc'){
    		da2 = "desc";
    		$(data).attr("data2" , da2);
    	}
    	getRzrq(da1+"."+da2,da3);
    }
    
    function getZjlxSort(data){
    	var da1 = $(data).attr("data1");
    	var da2 = $(data).attr("data2");
    	var da3 = $(data).attr("data3");
    	if(da2 == 'desc'){
    		da2 = "asc";
    		$(data).attr("data2" , da2);
    	}else if(da2 == 'asc'){
    		da2 = "desc";
    		$(data).attr("data2" , da2);
    	}
    	getZjlx(da1+"."+da2,da3);
    }
      
  </script>
  </body>
</html>
