<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:include="/gridCommon/common_head :: commonHeader('dzsj')"></head>
<body>

  <!-- Fixed navbar -->
  <div id="head-nav" class="navbar navbar-default navbar-fixed-top" th:include="/common/top_nav :: nav"></div>

	<div id="cl-wrapper" class="fixed-menu">
		<div class="cl-sidebar" data-position="right" data-step="1" th:include="/common/left_menu :: menu('dzsj')"></div>
	
		<div class="container-fluid" id="pcont">
		  <div class="cl-mcont">
			<div class = "row dash-cols">
				<div class = "col-sm-12 col-md-12">
					 <main th:include="/gridCommon/main :: main"></main>
				</div>
			</div>
		  </div>
		</div> 	
	</div>
	
	
  <div th:include="/gridCommon/onload_js :: onloadJs"></div>
  
  <script type="text/javascript">
  	var classNames = [];
    $(document).ready(function(){
       App.init({
        nanoScroller: false
      });
        
      App.dashBoard();        
      $.ajax({  
                    type : "GET",  //提交方式  
                    url : "http://www.estock.com:8080/stock/stapleday/getClassNameList",//路径  
                    data : {},//数据，这里使用的是Json格式进行传输  
                    success : function(result) {//返回数据根据结果进行相应的处理  
                        classNames =  result;
                        $('#fh').append(formHtml);
                    }  
                }); 

                var pgBar = $('#pg').mmPaginator({"limitList":[10,20,30,50,100,500,1000]});
                
                var cols = [
                   
                    {title:'日期', name:'rq' , align:'center' },
                    {title:'商品', name:'productName' , align:'center' },
                   	{title:'行业', name:'productHy' , align:'center' },
                    {title:'价格',name:'monthYcPrice',sortable:true},
                    {title:'后一天价格',name:'monthYmPrice',sortable:true},   
                    {title:'涨幅比例',name:'monthRise',sortable:true,renderer: highliht},
                    {title:'5天涨幅',name:'wtzf',sortable:true,renderer: highliht},
                    {title:'同比增长',name:'tbRise',sortable:true,renderer: highliht},
                    {title:'单位',name:'priceDw',sortable:true}
                ];


                var mmg = $('.mmg').mmGrid({
                    height: 'auto'
                    , cols: cols
                    , url: 'http://www.estock.com:8080/stock/stapleday/getList'
                    , method: 'get'
                    , remoteSort:true
                    , sortName: 'close'
                    , sortStatus: 'asc'
                    , fullWidthRows: true
                    , autoLoad: false
                    ,showBackboard:true
                    , plugins: [
                        pgBar
                    ]
                    , params: function(){
                        //如果这里有验证，在验证失败时返回false则不执行AJAX查询。
                      return {
                          datas: JSON.stringify(getDatas())
                      }
                    }
                });
                
                mmg.load();

                $('#btnSearch').on('click',function(){
                    //点击查询时页码置为1
                    var str=JSON.stringify(getDatas());
                    mmg.load({page:1,datas:str});
                });

            });

            function addFormDiv(){
                $('#fh').append(formHtml);
            }

            function delFormDiv(obj){
            	if($('#fh .data').find('select').size() == 3){
            		return;
            	}
                $(obj).parent().parent().remove();
            }

            function getDatas(){
                var datas = [];
                $('#fh .data').each(function(i){
                    var obj = $(this);
                    var j = {
                    	must:obj.find('select').eq(0).val(),
                        name:obj.find('select').eq(1).val(),
                        type:obj.find('select').eq(2).val(),
                        value:obj.find('input').eq(0).val()
                    }
                    datas[i] = j;
                });
                return datas;
            }
        </script>
  </body>
</html>
