<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:include="/gridCommon/common_head :: commonHeader('jyfx')"></head>
  <style>
  .mmg .mmg-body{
  width: auto; 
  height: auto;
  }
  
  element.style{
  width: auto; 
  height: auto;
  }
  
  </style>
<body>

  <!-- Fixed navbar -->
  <div id="head-nav" class="navbar navbar-default navbar-fixed-top" th:include="/common/top_nav :: nav"></div>

	<div id="cl-wrapper" class="fixed-menu sb-collapsed">
		<div class="cl-sidebar" data-position="right" data-step="1" th:include="/common/left_menu :: menu('jyfx')"></div>
	
		<div class="container-fluid" id="pcont">
		  <div class="cl-mcont">
			<div class = "row dash-cols">
				<div class = "col-sm-12 col-md-12">
					 <main th:include="/gridCommon/main :: main"></main>
				</div>
			</div>
		  </div>
		</div> 	
	</div>
	
  <div th:include="/gridCommon/onload_js :: onloadJs"></div>
  
  <script type="text/javascript">
  	var classNames = [];
    $(document).ready(function(){
       App.init({
        nanoScroller: false
      });
        
      App.dashBoard();        
      $.ajax({  
                    type : "GET",  //提交方式  
                    url : "http://www.estock.com:8080/stock/jyfx/getClassNameList",//路径  
                    data : {},//数据，这里使用的是Json格式进行传输  
                    success : function(result) {//返回数据根据结果进行相应的处理  
                        classNames =  result;
                        $('#fh').append(formHtml);
                    }  
                }); 

                var pgBar = $('#pg').mmPaginator({"limitList":[10,20,30,50,100,500,1000]});
                
                var cols = [
                   
                    { title:'日期', name:'rq' ,width:100, align:'center' },
                    { title:'股票代码', name:'stockCode' ,width:100, align:'center' },
                    { title:'类型', name:'type' ,width:100, align:'center',renderer: function(val,item,rowIndex){
                      if(val == 1){
                      	return '行业';
                      }
                      if(val == 2){
                      	return '产品';
                      }
                      if(val == 3){
                      	return '区域';
                      }
                    }},
                    {title:'主营构成',name:'zygc',width:100,sortable:true},
                    {title:'主营收入(元)',name:'zysr',width:100,sortable:true,renderer: moformat},
                    {title:'主营成本(元)',name:'srbl',width:100,sortable:true,renderer:fixed2percentage2},
                    {title:'主营成本(元)',name:'zycb',width:100,sortable:true,renderer: moformat},
                    {title:'成本比例',name:'cbbl',width:100,sortable:true,renderer:fixed2percentage2},
                    {title:'主营利润(元)',name:'zylr',width:100,sortable:true,renderer: moformat},
                    {title:'利润比例',name:'lrbl',width:100,sortable:true,renderer:fixed2percentage2},
                    {title:'毛利率(%)',name:'mll',width:100,sortable:true,renderer:fixed2percentage2}
                ];


                var mmg = $('.mmg').mmGrid({
                    height: 'auto'
                    , cols: cols
                    , url: 'http://www.estock.com:8080/stock/jyfx/getList'
                    , method: 'get'
                    , remoteSort:true
                    , sortName: 'close'
                    , sortStatus: 'asc'
                    , fullWidthRows: false
                    , autoLoad: false
                    ,showBackboard:true
                    , plugins: [
                        pgBar
                    ]
                    , params: function(){
                        //如果这里有验证，在验证失败时返回false则不执行AJAX查询。
                      return {
                          datas: JSON.stringify(getDatas())
                      }
                    }
                });
                
                mmg.load();
                

                $('#btnSearch').on('click',function(){
                    //点击查询时页码置为1
                    var str=JSON.stringify(getDatas());
                    mmg.load({page:1,datas:str});
                });

            });

            function addFormDiv(){
                $('#fh').append(formHtml);
            }

            function delFormDiv(obj){
            	if($('#fh .data').find('select').size() == 3){
            		return;
            	}
                $(obj).parent().parent().remove();
            }

            function getDatas(){
                var datas = [];
                $('#fh .data').each(function(i){
                    var obj = $(this);
                    var j = {
                    	must:obj.find('select').eq(0).val(),
                        name:obj.find('select').eq(1).val(),
                        type:obj.find('select').eq(2).val(),
                        value:obj.find('input').eq(0).val()
                    }
                    datas[i] = j;
                });
                return datas;
            }
        </script>
  </body>
</html>
