<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:include="/gridCommon/common_head :: commonHeader('财报数据')"></head>
<body>

  <!-- Fixed navbar -->
  <div id="head-nav" class="navbar navbar-default navbar-fixed-top" th:include="/common/top_nav :: nav"></div>

	<div id="cl-wrapper" class="fixed-menu sb-collapsed">
		<div class="cl-sidebar" data-position="right" data-step="1" th:include="/common/left_menu :: menu('stockrailer')"></div>
	
		<div class="container-fluid" id="pcont">
		  <div class="cl-mcont">
			<div class = "row dash-cols">
				<div class = "col-sm-12 col-md-12">
					 <main th:include="/gridCommon/main :: main"></main>
				</div>
			</div>
		  </div>
		</div> 	
	</div>
	
	<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="分时图">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">分时图</h4>
			      </div>
			      <div class="modal-body">
			      	<input type="hidden" id = "code"/>
			      	<button class="btn btn-default" onclick = "huan('min')">分时</button>
			      	<button class="btn btn-default" onclick = "huan('daily')">周</button>
			      	<button class="btn btn-default" onclick = "huan('weekly')">月</button>
			        <img src = "" id = "imgFen">
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">关</button>
			      </div>
			    </div>
			  </div>
			</div>
  <div th:include="/gridCommon/onload_js :: onloadJs"></div>
  
  <script type="text/javascript">
  	var classNames = [];
    $(document).ready(function(){
       App.init({
        nanoScroller: false
      });
        
      App.dashBoard();        

                $.ajax({  
                    type : "GET",  //提交方式  
                    url : "http://www.estock.com:8080/stock/report/getClassNameList",//路径  
                    data : {},//数据，这里使用的是Json格式进行传输  
                    success : function(result) {//返回数据根据结果进行相应的处理  
                        classNames =  result;
                        $('#fh').append(formHtml);
                    }  
                }); 

                var pgBar = $('#pg').mmPaginator({"limitList":[60,100,200,300,500,1000]});
                
                var cols = [
                    /* { title:'公告日期', name:'ggrq' , align:'center' ,width:80,sortable:true},  */
                     { title:'结束日期', name:'jzrq' , align:'center' ,width:80,sortable:true}, 
                  /*   { title:'股票代码', name:'stockCode' , align:'center',width:60 }, */
                    { title:'股票名称', name:'stockName' , align:'center',width:60},
                    { title:'行业', name:'industry' , align:'center',sortable:true,width:60},
                    { title:'总市值', name:'totals' , align:'center',sortable:true,width:60,renderer:moformat},
                    { title:'每股收益', name:'mgsy' , align:'center',sortable:true,width:60,renderer:highliht},
                   { title:'净资产收益率', name:'jzcsyl' , align:'center',sortable:true,width:60,renderer: fixed2percentage},  
                    { title:'上净利润', name:'sjlr' , align:'center',renderer: moformat,sortable:true,width:60},
                    { title:'净利润', name:'jlr' , align:'center',renderer: moformat,sortable:true,width:60},
                    { title:'下净利润', name:'xjlr' , align:'center',renderer: moformat,sortable:true,width:80}, 
                     { title:'上季度利润增长率', name:'jdzzl_before' , align:'center',renderer: fixed2percentage,sortable:true,width:80},
                    { title:'净利润增长率', name:'jdzzl' , align:'center',renderer: fixed2percentage,sortable:true,width:80},
                    { title:'下季度利润增长率', name:'jlr_ycb' , align:'center',renderer: fixed2percentage,sortable:true,width:80} ,
                    { title:'下季度同比增长', name:'jlr_tbzz_str' , align:'center',sortable:true,width:80} ,
                    { title:'同比增长值', name:'jlr_tbzz' , align:'center',renderer: fixed2percentage,sortable:true,width:80} ,
                /*     { title:'利润投资比', name:'tzhdcsdxjllje' , align:'center',renderer: function(){
                    	
                    },sortable:true,width:80} , */
                    { title:'投资利润', name:'tzhdcsdxjllje' , align:'center',renderer: moformat2,sortable:true,width:80} ,
                    { title:'业务利润', name:'jyhdcsdxjllje' , align:'center',renderer: moformat2,sortable:true,width:80} ,
                    { title:'下季度增长', name:'jlr_tbzz_xjd' , align:'center',renderer: fixed2percentage,sortable:true,width:80} 
                ];


                var mmg = $('.mmg').mmGrid({
                    height: 'auto'
                    , cols: cols
                    , url: 'http://www.estock.com:8080/stock/report/getList?aaa=b&type='+ $('#type').val()
                    , method: 'get'
                    , remoteSort:true
                    , sortName: 'close'
                    , sortStatus: 'asc'
                    , fullWidthRows: true
                    , autoLoad: false
                    ,showBackboard:true
                    , plugins: [
                        pgBar
                    ]
                    , params: function(){
                        //如果这里有验证，在验证失败时返回false则不执行AJAX查询。
                      return {
                          datas: JSON.stringify(getDatas()),
                          type:$('#type').val()
                      }
                    }
                });


                mmg.load();

              

            function delFormDiv(obj){
            	if($('#fh .data').find('select').size() == 3){
            		return;
            	}
                $(obj).parent().parent().remove();
            }

            
            function openDiv(code){
            	$('#code').val('min');
            	$('#imgFen').attr('src' ,getPath(code));
            	$('#myModal').modal('show');
            }

            function huan(type){
            	var old = $('#code').val();
            	var imgPath = $('#imgFen').attr('src');
            	imgPath = imgPath.replace(old , type);
            	$('#code').val(type);
            	$('#imgFen').attr('src' ,imgPath);
            }
            
            $('#btnSearch').on('click',function(){
                //点击查询时页码置为1
                var str=JSON.stringify(getDatas());
                var type = $('#type').val();
                mmg.load({page:1,datas:str,type:type});
            });
         function addFormDiv(){
            $('#fh').append(formHtml);
         }
            });
        </script>
  </body>
</html>
