<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <body>
      <div th:fragment="main">
            <div style="margin-bottom: 5px;">
                <div style="text-align: center;">
                    <div id = "fh"></div>
                </div>
            </div>
            <div style="text-align: center;margin-bottom: 5px;"><button id="btnSearch" class="btn" >搜索</button></div>
            <table id="mmg" class="mmg">
                <tr>
                    <th rowspan="" colspan=""></th>
                </tr>
            </table>
            <div id="pg" style="text-align: right;"></div>
      </div>
  </body>
</html>